@import url(../styles/fonts.css);
@import url(../styles/normalize.css);
@import url(../styles/basic-styles.css);
// SCSS @import:
@import 'mixins'; @import 'vars';

.container {
    max-width: 1074px;
    padding: 0 10px;
    margin: 0 auto;
}
body,* {
    font-family: 'Montserrat';
}
body {
    color: #000D3A;
    background: #F7F7F7;
}
.logo {
    font-family: 'Stolzl';
    color: #000D3A;
    font-size: 32px;
    font-weight: 300;
}

.header {
    &__wrapper {
        padding: 24px 0 22px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__nav {
        display: flex;
        align-items: center;
    }
    &__element {
        font-weight: 500;
    }
    &__icons-wrap {
        display: flex;
        margin: 0 16px;
        img {
            margin-left: 24px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    &__buttons-wrap {
        display: flex;
        align-items: center;
    }
    
}
.start-about {
    &__wrapper {
        background: linear-gradient(255.35deg, #954FB8 5.6%, #C740AC 36.89%, #E866D0 68.36%, #D164A0 100%);
        border-radius: 60px;
        color: white;
        display: flex;
    }
    &__main-content {
        position: relative;
        left: -35px;
        top: 59px;
    }
    &__text {
        font-size: 24px;
        line-height: 36px;
        font-weight: 400;
        max-width: 388px;
    }
}
.facilities {
    margin: 96px 0;
    &__title-block {
        text-align: center;
        margin-bottom: 61px;
    }
    &__title-text {
        display: block;
        margin-top: 20px;
        font-size: 24px;
        color: $graytext;
    }
    &__row {
        display: flex;
        .facilities__item {
            margin-left: 5px;
            margin-top: 5px;
            &:nth-child(1) {
                margin-left: 0;
                }
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        
        &-row-1 {
            .facilities__item {
                &:nth-child(1) {
                    flex-basis: 428px;
                    background: url('../imgs/facilities/back-1.png') no-repeat center;
                    .facilities__item-content-wrap {
                        width: 159px;
                    }
                }
                &:nth-child(2) {
                    flex-basis: 635px;
                    background: url('../imgs/facilities/back-2.png') no-repeat center;
                    .facilities__item-content-wrap {
                        width: 139px;
                    }
                } 
            }

        }
        &-row-2 {
            .facilities__item {
                background: url('../imgs/facilities/back-3.png');
                width: 100%;
                .facilities__item-content-wrap {
                    width: 144px;
                }
            }
        }
        &-row-3 {
            .facilities__item {
                &:nth-child(1) {
                    background: url('../imgs/facilities/back-4.png') no-repeat center;
                    flex-basis: 634px;
                    .facilities__item-content-wrap {
                        width: 248px;
                    }
                }   
                &:nth-child(2) {
                    flex-basis: 425px;
                    background: url('../imgs/facilities/back-5.png') no-repeat center;
                    .facilities__item-content-wrap {
                        width: 191px;
                    }
                }             
            }
        }
    }
    &__item {
        color:white;
        height: 340px;
        background-size: cover;
        border-radius: 80px;
        &-title {
            font-weight: 300;
            line-height: 36px;
            margin-bottom: 12px;
        }
        &-text {
            line-height: 28px;
        }
        &-content-wrap {
            position: relative;
            left: 51px;
            top: 41px;
        }
    }
}
.products {
    &__item-wrapper {
        display: flex;
        flex-direction: column;
    }
    &__content-block {
        max-width: 316px;
        text-align: center;
        p {
            margin: 16px 0 24px 0;
            color: #444855;
        }
    }
    &__price {
        margin-bottom: 24px;
        font-size: 24px;
        font-weight: 500;
        display: block;
    }
    &__item {
        background: gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5px;
        &:first-child {
            margin-top: 0;
        }
        padding: 25px 130px 25px 35px;
        border-radius: 40px;
        background: linear-gradient(100.33deg, #E9E0FF 8.55%, #EFE8FF 96.36%);
        .btn-style-2 {
            padding: 12px 63px;
        }
        &--last {
            padding: 25px 35px 25px 100px;
            background: linear-gradient(100.33deg, #D6E5FF 8.55%, #E0ECFF 96.36%);
            .btn-style-2 {
                padding: 12px 95px;
            }
        }
    }
}
.reviews {
    margin-top: 96px;
    &__item {
        color: #444855;
        display: flex;
        align-items: center;
        line-height: 24px;
        background: #FFFFFF;
        border-radius: 40px;
        padding: 64px 99px 64px 99px;
        .--bold {
            font-weight: 500;
        }
    } 
    .reviews__user {
        text-align: center;
        margin-right: 98px;
        &-review {
            max-width: 475px;
            display: flex;
            flex-direction: column;
            row-gap: 13px;
        }
    }
    .user__fullname {
        margin: 16px 0 4.5px 0;
        display: block;
        color: #444855;
        font-weight: 500;
    }
}
.features {
    &__items-wrapper {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-between;
        align-items: flex-start;
        row-gap: 67px;
        h3 {
            font-size: 14px;
        }
    }
    &__item {
        width: 180px;
        &:nth-child(7) {
            .features__img-wrapper {
                position: relative;
                top: -20px;
            }
        }
        
    }
    &__img-wrapper {
        width: 162px;
        margin: 0 auto;
        height: 150px;
    }
}
.questions {
    margin-top: 96px;
    &__item {
        padding-bottom: 24px;
        border-bottom: 1px #D9DCE3 solid;
        &-description {
            font-size: 18px;
            line-height: 28px;
            width: 874px;
            padding-left: 24px;
        }
        &-title {
            font-weight: 600;
            font-size: 18px;
            display: block;
            margin-bottom: 14px;
            &::after {
                content: url('../imgs/questions/row.png');
                position: absolute;
                left: 83.5%;
            }
        }
    }
    &__block-items-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }
    &__block-title {
        font-weight: 600;
        margin-bottom: 32px;
        display: block;
        margin-top: 48px;
        position: relative;
    }
}
.footer {
    margin-top: 96px;
    .title-block {
        margin-bottom: 48px;
    }
    .form-wrapper {
        border-radius: 40px;
        margin: 0 auto;
        max-width: 566px;
        background-color: #FFFFFF;
        padding: 24px 32px;
        
        input {
            width: 100%;
            background: #F5F6FA;
            border: none;
            border-radius: 30px;
            margin-top: 10px;
            &:nth-child(-n+3) {
                padding: 13px 20px;
                &::placeholder {
                    color: #444855;
                }
            }
            &:last-child {
                background: #00B333;
                color: white;
                font-weight: 500;
                font-size: 18px;
                padding: 13px 0;
            }
            &:first-child {
                margin: 0;
                padding-bottom: 109px;
            }
            
        }
    }
    .form-confident {
        display: block;
        margin-top: 24px;
        text-align: center;
        &-link {
            text-decoration: underline;
            color: #444855;
            line-height: 24px;
        }
    }
    &__last-line {
        margin-top: 96px;
        padding-bottom: 26px;
        ul {
            display: flex;
            justify-content: center;
            list-style: none;
            li {
                margin-left: 32px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        .copy {
            display: block;
            max-width: 320px;  
            margin: 20px auto 0 auto;
            color: #444855;
        }
    }
}