@import url(../styles/fonts.css);
@import url(../styles/normalize.css);
@import url(../styles/basic-styles.css);
.container {
  max-width: 1074px;
  padding: 0 10px;
  margin: 0 auto;
}

body, * {
  font-family: "Montserrat";
}

body {
  color: #000D3A;
  background: #F7F7F7;
}

.logo {
  font-family: "Stolzl";
  color: #000D3A;
  font-size: 32px;
  font-weight: 300;
}

.header__wrapper {
  padding: 24px 0 22px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__element {
  font-weight: 500;
}
.header__icons-wrap {
  display: flex;
  margin: 0 16px;
}
.header__icons-wrap img {
  margin-left: 24px;
}
.header__icons-wrap img:first-child {
  margin-left: 0;
}
.header__buttons-wrap {
  display: flex;
  align-items: center;
}

.start-about__wrapper {
  background: linear-gradient(255.35deg, #954FB8 5.6%, #C740AC 36.89%, #E866D0 68.36%, #D164A0 100%);
  border-radius: 60px;
  color: white;
  display: flex;
}
.start-about__main-content {
  position: relative;
  left: -35px;
  top: 59px;
}
.start-about__text {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  max-width: 388px;
}

.facilities {
  margin: 96px 0;
}
.facilities__title-block {
  text-align: center;
  margin-bottom: 61px;
}
.facilities__title-text {
  display: block;
  margin-top: 20px;
  font-size: 24px;
  color: #5B6173;
}
.facilities__row {
  display: flex;
}
.facilities__row .facilities__item {
  margin-left: 5px;
  margin-top: 5px;
}
.facilities__row .facilities__item:nth-child(1) {
  margin-left: 0;
}
.facilities__list {
  display: flex;
  flex-direction: column;
}
.facilities__list-row-1 .facilities__item:nth-child(1) {
  flex-basis: 428px;
  background: url("../imgs/facilities/back-1.png") no-repeat center;
}
.facilities__list-row-1 .facilities__item:nth-child(1) .facilities__item-content-wrap {
  width: 159px;
}
.facilities__list-row-1 .facilities__item:nth-child(2) {
  flex-basis: 635px;
  background: url("../imgs/facilities/back-2.png") no-repeat center;
}
.facilities__list-row-1 .facilities__item:nth-child(2) .facilities__item-content-wrap {
  width: 139px;
}
.facilities__list-row-2 .facilities__item {
  background: url("../imgs/facilities/back-3.png");
  width: 100%;
}
.facilities__list-row-2 .facilities__item .facilities__item-content-wrap {
  width: 144px;
}
.facilities__list-row-3 .facilities__item:nth-child(1) {
  background: url("../imgs/facilities/back-4.png") no-repeat center;
  flex-basis: 634px;
}
.facilities__list-row-3 .facilities__item:nth-child(1) .facilities__item-content-wrap {
  width: 248px;
}
.facilities__list-row-3 .facilities__item:nth-child(2) {
  flex-basis: 425px;
  background: url("../imgs/facilities/back-5.png") no-repeat center;
}
.facilities__list-row-3 .facilities__item:nth-child(2) .facilities__item-content-wrap {
  width: 191px;
}
.facilities__item {
  color: white;
  height: 340px;
  background-size: cover;
  border-radius: 80px;
}
.facilities__item-title {
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 12px;
}
.facilities__item-text {
  line-height: 28px;
}
.facilities__item-content-wrap {
  position: relative;
  left: 51px;
  top: 41px;
}

.products__item-wrapper {
  display: flex;
  flex-direction: column;
}
.products__content-block {
  max-width: 316px;
  text-align: center;
}
.products__content-block p {
  margin: 16px 0 24px 0;
  color: #444855;
}
.products__price {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 500;
  display: block;
}
.products__item {
  background: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding: 25px 130px 25px 35px;
  border-radius: 40px;
  background: linear-gradient(100.33deg, #E9E0FF 8.55%, #EFE8FF 96.36%);
}
.products__item:first-child {
  margin-top: 0;
}
.products__item .btn-style-2 {
  padding: 12px 63px;
}
.products__item--last {
  padding: 25px 35px 25px 100px;
  background: linear-gradient(100.33deg, #D6E5FF 8.55%, #E0ECFF 96.36%);
}
.products__item--last .btn-style-2 {
  padding: 12px 95px;
}

.reviews {
  margin-top: 96px;
}
.reviews__item {
  color: #444855;
  display: flex;
  align-items: center;
  line-height: 24px;
  background: #FFFFFF;
  border-radius: 40px;
  padding: 64px 99px 64px 99px;
}
.reviews__item .--bold {
  font-weight: 500;
}
.reviews .reviews__user {
  text-align: center;
  margin-right: 98px;
}
.reviews .reviews__user-review {
  max-width: 475px;
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}
.reviews .user__fullname {
  margin: 16px 0 4.5px 0;
  display: block;
  color: #444855;
  font-weight: 500;
}

.features__items-wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 67px;
}
.features__items-wrapper h3 {
  font-size: 14px;
}
.features__item {
  width: 180px;
}
.features__item:nth-child(7) .features__img-wrapper {
  position: relative;
  top: -20px;
}
.features__img-wrapper {
  width: 162px;
  margin: 0 auto;
  height: 150px;
}

.questions {
  margin-top: 96px;
}
.questions__item {
  padding-bottom: 24px;
  border-bottom: 1px #D9DCE3 solid;
}
.questions__item-description {
  font-size: 18px;
  line-height: 28px;
  width: 874px;
  padding-left: 24px;
}
.questions__item-title {
  font-weight: 600;
  font-size: 18px;
  display: block;
  margin-bottom: 14px;
}
.questions__item-title::after {
  content: url("../imgs/questions/row.png");
  position: absolute;
  left: 83.5%;
}
.questions__block-items-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.questions__block-title {
  font-weight: 600;
  margin-bottom: 32px;
  display: block;
  margin-top: 48px;
  position: relative;
}

.footer {
  margin-top: 96px;
}
.footer .title-block {
  margin-bottom: 48px;
}
.footer .form-wrapper {
  border-radius: 40px;
  margin: 0 auto;
  max-width: 566px;
  background-color: #FFFFFF;
  padding: 24px 32px;
}
.footer .form-wrapper input {
  width: 100%;
  background: #F5F6FA;
  border: none;
  border-radius: 30px;
  margin-top: 10px;
}
.footer .form-wrapper input:nth-child(-n+3) {
  padding: 13px 20px;
}
.footer .form-wrapper input:nth-child(-n+3)::placeholder {
  color: #444855;
}
.footer .form-wrapper input:last-child {
  background: #00B333;
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 13px 0;
}
.footer .form-wrapper input:first-child {
  margin: 0;
  padding-bottom: 109px;
}
.footer .form-confident {
  display: block;
  margin-top: 24px;
  text-align: center;
}
.footer .form-confident-link {
  text-decoration: underline;
  color: #444855;
  line-height: 24px;
}
.footer__last-line {
  margin-top: 96px;
  padding-bottom: 26px;
}
.footer__last-line ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.footer__last-line ul li {
  margin-left: 32px;
}
.footer__last-line ul li:first-child {
  margin-left: 0;
}
.footer__last-line .copy {
  width: fit-content;
  margin: 20px auto 0 auto;
  color: #444855;
}

/*# sourceMappingURL=style.css.map */
