@import url(../styles/fonts.css);
@import url(../styles/normalize.css);
@import url(../styles/basic-styles.css);
body {
  color: #000D3A;
  background: #F7F7F7;
  font-family: "Montserrat";
}

.logo {
  font-family: "Stolzl";
  color: #000D3A;
  font-size: 32px;
  font-weight: 300;
}

.header__wrapper {
  padding: 24px 10px 22px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__element {
  font-weight: 500;
}
.header__icons-wrap {
  display: flex;
  margin: 0 16px;
}
.header__icons-wrap img {
  margin-left: 24px;
}
.header__icons-wrap img:first-child {
  margin-left: 0;
}
.header__buttons-wrap {
  display: flex;
  align-items: center;
}
.header__buttons-wrap a {
  transition: background 0.1s;
}
.header__buttons-wrap a:hover {
  background: #42ed73;
  transition: 0.1s;
}

.start-about {
  padding: 0 10px;
}
.start-about__wrapper {
  height: 554px;
  background: linear-gradient(255.35deg, #954FB8 5.6%, #C740AC 36.89%, #E866D0 68.36%, #D164A0 100%);
  border-radius: 60px;
  color: white;
  display: flex;
  align-items: flex-start;
}
.start-about__main-content {
  position: relative;
  top: 67px;
  left: 79px;
}
.start-about__text {
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  max-width: 388px;
}
.start-about__background-wrapper {
  position: relative;
  left: 30px;
  align-self: flex-end;
  width: 511px;
  height: 477px;
  background: url("../imgs/start-about/start-about.png") no-repeat;
  background-size: cover;
}

.facilities {
  margin: 96px 0;
}
.facilities__title-block {
  text-align: center;
  margin-bottom: 61px;
}
.facilities__title-text {
  display: block;
  margin-top: 20px;
  font-size: 24px;
  color: #5B6173;
}
.facilities__row {
  display: flex;
}
.facilities__row .facilities__item {
  margin-left: 5px;
  margin-top: 5px;
}
.facilities__row .facilities__item:nth-child(1) {
  margin-left: 0;
}
.facilities__list {
  display: flex;
  flex-direction: column;
}
.facilities__list-row-1 .facilities__item:nth-child(1) {
  flex-basis: 428px;
  background: url("../imgs/facilities/back-1.png") no-repeat center;
}
.facilities__list-row-1 .facilities__item:nth-child(1) .facilities__item-content-wrap {
  width: 159px;
}
.facilities__list-row-1 .facilities__item:nth-child(2) {
  flex-basis: 635px;
  background: url("../imgs/facilities/back-2.png") no-repeat center;
}
.facilities__list-row-1 .facilities__item:nth-child(2) .facilities__item-content-wrap {
  width: 139px;
}
.facilities__list-row-2 .facilities__item {
  background: url("../imgs/facilities/back-3.png");
  width: 100%;
}
.facilities__list-row-2 .facilities__item .facilities__item-content-wrap {
  width: 144px;
}
.facilities__list-row-3 .facilities__item:nth-child(1) {
  background: url("../imgs/facilities/back-4.png") no-repeat center;
  flex-basis: 634px;
}
.facilities__list-row-3 .facilities__item:nth-child(1) .facilities__item-content-wrap {
  width: 248px;
}
.facilities__list-row-3 .facilities__item:nth-child(2) {
  flex-basis: 425px;
  background: url("../imgs/facilities/back-5.png") no-repeat center;
}
.facilities__list-row-3 .facilities__item:nth-child(2) .facilities__item-content-wrap {
  width: 191px;
}
.facilities__item {
  color: white;
  height: 340px;
  background-size: cover;
  border-radius: 80px;
}
.facilities__item-title {
  font-weight: 300;
  line-height: 36px;
  margin-bottom: 12px;
}
.facilities__item-text {
  line-height: 28px;
}
.facilities__item-content-wrap {
  position: relative;
  left: 51px;
  top: 41px;
}

.products__item-wrapper {
  display: flex;
  flex-direction: column;
}
.products__content-block {
  max-width: 316px;
  text-align: center;
}
.products__content-block p {
  margin: 16px 0 24px 0;
  color: #444855;
}
.products__price {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 500;
  display: block;
}
.products__item {
  background: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding: 25px 130px 25px 35px;
  border-radius: 40px;
  background: linear-gradient(100.33deg, #E9E0FF 8.55%, #EFE8FF 96.36%);
}
.products__item:first-child {
  margin-top: 0;
}
.products__item .btn-style-2 {
  padding: 12px 63px;
  transition: background 0.1s;
}
.products__item .btn-style-2:hover {
  background: #42ed73;
  transition: 0.1s;
}
.products__item--last {
  padding: 25px 35px 25px 100px;
  background: linear-gradient(100.33deg, #D6E5FF 8.55%, #E0ECFF 96.36%);
}
.products__item--last .btn-style-2 {
  padding: 12px 95px;
}

.reviews {
  margin-top: 96px;
}
.reviews__item {
  color: #444855;
  display: flex;
  align-items: center;
  line-height: 24px;
  background: #FFFFFF;
  border-radius: 40px;
  padding: 64px 99px 64px 99px;
}
.reviews__item .--bold {
  font-weight: 500;
}
.reviews .reviews__user {
  text-align: center;
  margin-right: 98px;
}
.reviews .reviews__user-review {
  max-width: 475px;
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}
.reviews .user__fullname {
  margin: 16px 0 4.5px 0;
  display: block;
  color: #444855;
  font-weight: 500;
}

.features {
  margin-top: 94px;
}
.features__items-wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 67px;
}
.features__items-wrapper h3 {
  font-size: 14px;
}
.features__item {
  width: 17%;
}
.features__item:nth-child(7) .features__img-wrapper {
  position: relative;
  top: -20px;
}
.features__img-wrapper {
  width: 162px;
  margin: 0 auto;
  height: 150px;
}

.questions {
  margin-top: 96px;
}
.questions__item {
  padding-bottom: 24px;
  border-bottom: 1px #D9DCE3 solid;
}
.questions__item-description {
  font-size: 18px;
  line-height: 28px;
  max-width: 874px;
  padding-left: 24px;
}
.questions__item-title {
  font-weight: 600;
  font-size: 18px;
  display: block;
  margin-bottom: 14px;
  line-height: 24px;
}
.questions__item-title::after {
  content: url("../imgs/questions/row.png");
  position: absolute;
  left: 83.5%;
}
.questions__block-items-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.questions__block-title {
  font-weight: 600;
  margin-bottom: 32px;
  display: block;
  margin-top: 48px;
  position: relative;
}

.footer {
  margin-top: 96px;
}
.footer .title-block {
  margin-bottom: 48px;
}
.footer .form-wrapper {
  border-radius: 40px;
  margin: 0 auto;
  max-width: 566px;
  background-color: #FFFFFF;
  padding: 24px 32px;
}
.footer .form-wrapper input {
  width: 100%;
  background: #F5F6FA;
  border: none;
  border-radius: 30px;
  margin-top: 10px;
  border: 1px solid transparent;
}
.footer .form-wrapper input:nth-child(-n+3) {
  padding: 13px 20px;
}
.footer .form-wrapper input:nth-child(-n+3)::placeholder {
  color: #444855;
}
.footer .form-wrapper input:nth-child(-n+3):focus {
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  border: 1px solid #0095FF;
}
.footer .form-wrapper input:last-child {
  background: #00B333;
  transition: background 0.1s;
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 13px 0;
}
.footer .form-wrapper input:last-child:hover {
  background: #42ed73;
  transition: 0.1s;
}
.footer .form-wrapper input:first-child {
  margin: 0;
  padding-bottom: 109px;
}
.footer .form-confident {
  display: block;
  margin-top: 24px;
  text-align: center;
}
.footer .form-confident-link {
  text-decoration: underline;
  color: #444855;
  line-height: 24px;
}
.footer__last-line {
  margin-top: 96px;
  padding-bottom: 26px;
}
.footer__last-line ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.footer__last-line ul li {
  margin-left: 32px;
}
.footer__last-line ul li a {
  border-bottom: 2px transparent solid;
}
.footer__last-line ul li a:hover {
  border-bottom: 2px black solid;
}
.footer__last-line ul li:first-child {
  margin-left: 0;
}
.footer__last-line .copy {
  display: block;
  max-width: 320px;
  margin: 20px auto 0 auto;
  color: #444855;
}

@media screen and (max-width: 777px) {
  .title-block h2 {
    font-size: 28px;
    line-height: 40px;
  }

  .header {
    width: 100%;
    background: #FFFFFF;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
  }
  .header__icons-wrap {
    display: none;
  }
  .header__element {
    display: none;
  }

  .start-about {
    position: relative;
    margin-top: 87px;
  }
  .start-about__wrapper {
    height: auto;
    flex-direction: column;
  }
  .start-about__main-content {
    padding-left: 32px;
    position: static;
    margin-top: 32px;
    order: -1;
  }
  .start-about__main-content p {
    width: 275px;
    font-size: 18px;
  }
  .start-about__background-wrapper {
    left: 0;
    align-self: center;
  }

  .facilities__item-5 {
    flex-basis: 545px !important;
    background-position: -150px !important;
  }
  .facilities__item-6 {
    background-position: -60px !important;
  }
  .facilities__item-content-wrap {
    left: 25px;
    top: 30px;
  }

  .products__item {
    padding: 24px 34px;
    flex-direction: column;
  }
  .products__item img {
    order: -1;
  }

  .reviews__user {
    margin: 0 !important;
    margin-bottom: 32px !important;
  }
  .reviews__user .user-about {
    display: block;
    max-width: 335px;
  }
  .reviews__item {
    flex-direction: column;
    align-items: center;
  }

  .features__img-wrapper {
    width: 100px;
    height: 110px;
  }
  .features__img-wrapper img {
    width: 100px;
  }
  .features__items-wrapper {
    justify-content: center;
  }
  .features__item {
    padding: 0 40px;
    width: 35%;
  }
  .features__item:first-child {
    margin-left: 0px;
  }
  .features__item:nth-child(7) .features__img-wrapper {
    top: -50px;
  }
  .features__item:nth-child(7) .features__img-wrapper img {
    width: 70px;
  }

  .questions__block-title {
    font-size: 14px !important;
  }
  .questions__item-title {
    font-size: 16px !important;
    font-weight: 600;
    font-size: 18px;
    display: block;
    margin-bottom: 14px;
  }
  .questions__item-title::after {
    content: url("../imgs/questions/row.png");
    position: absolute;
    left: 96.5%;
  }
  .questions__item-description {
    font-size: 16px !important;
  }

  .footer .form-wrapper {
    padding: 42px 10px;
  }
  .footer .form-confident {
    width: 307px;
    margin: 24px auto 0 auto;
  }
  .footer__last-line ul {
    font-size: 14px;
    text-align: center;
    flex-direction: column;
  }
  .footer__last-line ul li {
    font-weight: 500;
    margin-top: 10px;
    margin-left: 0;
  }
  .footer__last-line .copy {
    text-align: center;
    margin-top: 64px;
    font-size: 14px;
  }
}
@media screen and (max-width: 430px) {
  .title-block {
    margin-bottom: 32px;
  }

  .start-about__background-wrapper {
    border-radius: 60px;
    width: 100%;
    background-position: 0 70px;
    background-size: 107%;
  }

  .facilities {
    margin: 48px 0 !important;
    margin-top: 28px;
  }
  .facilities__title-block {
    margin-bottom: 16px;
  }
  .facilities__row {
    display: block;
  }
  .facilities__item-4 {
    background-position: -300px !important;
    background-repeat: no-repeat !important;
  }
  .facilities__item-5 .facilities__item-content-wrap {
    width: 135px !important;
  }
  .facilities__item-6 {
    background-position: unset !important;
  }
  .facilities__item-6 .facilities__item-content-wrap {
    width: 135px !important;
  }

  .products__item img {
    width: 334px !important;
  }

  .reviews {
    margin: 0;
    margin-top: 42px;
  }
  .reviews__item {
    padding: 37px 16px 32px 16px !important;
  }

  .features__img-wrapper {
    height: 100px !important;
  }
  .features__item {
    padding: 0 31px;
    width: 41%;
  }
  .features__item h3 {
    font-size: 8px;
  }
  .features__item img {
    max-width: 80px;
  }

  .questions__item-title {
    font-size: 16px !important;
    font-weight: 600;
    font-size: 18px;
    display: block;
    margin-bottom: 14px;
  }
  .questions__item-title::after {
    content: url("../imgs/questions/row.png");
    position: absolute;
    left: 93.6%;
  }
  .questions__item-description {
    padding-right: 55px;
  }
}
@media screen and (max-width: 380px) {
  .facilities__item-3 {
    background-position: -180px !important;
  }
  .facilities__item-6 {
    background-position: -50px !important;
  }
  .facilities__item-5 {
    background-position: -180px !important;
  }

  .features__item {
    padding: 0 22px !important;
  }
}
@media screen and (max-width: 330px) {
  .start-about__main-content {
    padding-left: 10px;
  }

  .logo-text {
    display: none;
  }

  .products__item a {
    padding: 7px 40px !important;
  }

  .facilities__item-6 {
    background-position: -100px !important;
  }

  .start-about__background-wrapper {
    background-position: -18px 70px;
    background-size: 115%;
  }

  .features__item {
    padding: 0 11px !important;
  }
}

/*# sourceMappingURL=style.css.map */
